.main{
    height: 1100px;
    padding-left: 3%;
    padding-top: 30px;
.img{
    height: 550px;
}

    .right{
        float: right;
max-width: 400px; 
h2{
    padding-top: 0%;
}   }

.limitTextHeight {
    height: 280px;
    overflow: hidden;
}
h2{
    padding-top: 100px;
}
}