<div>
  <div class="btns">
    <div class="btn">
    <img class="IMG" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGFGyOVkOC4P9DQPEzjJ4bPOYIShmiWwGuqxF2UwvybTKcSFPIjNkG6MzVM-rV2U4hH-0&usqp=CAU" alt="" />
  </div>
  <div class="Cart-img">
    <a class="abc"><img class="img-btn" src="https://media.istockphoto.com/vectors/shopping-cart-icon-isolated-on-white-background-vector-id1206806317?b=1&k=20&m=1206806317&s=170667a&w=0&h=Kbm0xUsNIKmWfxXL5Rj0ElxUPtbldRblFtkLBwUhzkQ=" alt="" /></a>
 <div class="img">
   <a class="abc" href="/courses">Login </a>
</div>
  </div>
</div>
</div>


<div class="container">
  <img class="card-img" src="https://media.istockphoto.com/photos/laptop-notebook-tablet-and-coffee-on-work-desk-picture-id486763752?k=20&m=486763752&s=170667a&w=0&h=x0UBWxYwQo0WLM8CRu1OSVtGQmrT5qxYWpr501x39rg=" alt="Snow" style="width:100%;">

  <div class="centered"><h1>A World of Knowledge at Your Fingertips!!!</h1></div>
</div>



<div class="container">
  <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYwTXY0wWjJaKO8AVZgN6X9viGzknSTxPjRA&usqp=CAU">

  <div class="abt-main"><h1>Learning Together
    From the Comfort
    of Your Home</h1>
    <a class="abc" href="/alearn">Learn  More</a>

  </div>

  <div class="abt" > <img src="http://www.gbgindonesia.com/en/education/article/2016/studying_abroad_in_indonesia_for_international_students-400.jpg" alt=""/></div>
</div>



<div class="c">
  <img class="c-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGQQLweL4X6y_gmN1xVtmZfjdgyAzMawYUGA&usqp=CAU">


  
  <div class="c-text"><h1>Welcome to
    THE NEXT BIG THING</h1>
    <a class="abc" href="https://discord.com/invite/A8zBusy" target="_blank">Join TEN Virtual Campus</a>

  </div>

</div>


<div class="d">
  <img class="d-img" src="https://images.unsplash.com/photo-1579256945823-f007794790df?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZW1wbG95ZWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80">
  <img class="d2-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAL0AAAELCAMAAAC77XfeAAAAA1BMVEXDIUjAC8mCAAAASElEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADeDcYqAAE00FRDAAAAAElFTkSuQmCC">
  <div class="d-text"><h1>Entrepreneurship
    made fun</h1>
    <a class="d-btn" href="/jtvc">Explore Here</a>

  </div>

</div>




<div class="e">
  <img class="e-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJGTNs1M9KI8mgnJqld66V18oBgVsFxhoJUA&usqp=CAU">
  <img class="e2-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAL0AAAELCAMAAAC77XfeAAAAA1BMVEXDIUjAC8mCAAAASElEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADeDcYqAAE00FRDAAAAAElFTkSuQmCC">
  <div class="e-text"><h1>
    Digital Marketing</h1>
    <a class="abc">Explore Here</a>

  </div>
  <img class="e3-img" src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_690028746_284206.jpg">


</div>



<div class="f">
  <img class="f2-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAL0AAAELCAMAAAC77XfeAAAAA1BMVEXDIUjAC8mCAAAASElEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADeDcYqAAE00FRDAAAAAElFTkSuQmCC">
  <img class="f-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEA_IUwv71aiPla5c97a6TDrO64uybfcrDUQ&usqp=CAU">


</div>


<div class="g">
  <img class="g-img" src="https://www.solidbackgrounds.com/images/950x350/950x350-black-solid-color-background.jpg" alt="" >
  <div class="g-text">
    <h1>Our Course Benefits
    </h1>
  </div>
</div>



<div class="container" >
  <div class="card">
    <img src="https://expert-teacher.com/wp-content/uploads/2016/04/Expert-Teacher-logo.png" alt="" />
    <h3>Expert Teachers</h3>
    <p>Our instructors are more adept at monitoring student problems and assessing their level of understanding and progress, and they provide much more relevant, useful feedback.
      We are experts in developing and testing hypotheses about learning difficulties or instructional strategies.</p>
  </div>

  <div class="card">
    <img src="https://w7.pngwing.com/pngs/167/920/png-transparent-online-community-blog-internet-forum-others-purple-text-logo.png" alt="" />
    <h3>
      Online Community</h3>
      <p>Feel like home, with a "family of invisible friends".</p>
  </div>

  <div class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPQTjsHm8T3PD_uskEzn_ZP_ViniBaz2Hv6g&usqp=CAU" alt="" />
    <h3>Flexible Curriculum</h3>
<p>Our expert teachers design and curate the curriculum using best practices and careful consideration of how people learn and retain information with the ongoing tech trends in the professional domain. We've debated every facet of our methodology, from the order in which to teach concepts, the analogies used to clarify them and how exercises should be structured to deliver the maximum educational punch.</p>
  </div>

</div>






