<h1>HACKATHON</h1>
<div class="d">
    <img class="d-img" src="https://images.unsplash.com/photo-1579256945823-f007794790df?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZW1wbG95ZWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80">
    <img class="d2-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAL0AAAELCAMAAAC77XfeAAAAA1BMVEXDIUjAC8mCAAAASElEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADeDcYqAAE00FRDAAAAAElFTkSuQmCC">
    <div class="d-text"><h1>Entrepreneurship
      made fun</h1>
      <a class="d-btn" href="/jtvc">Explore Here</a>
  
    </div>
  
  </div>



  

<div class="f">
    <img class="f2-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAL0AAAELCAMAAAC77XfeAAAAA1BMVEXDIUjAC8mCAAAASElEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADeDcYqAAE00FRDAAAAAElFTkSuQmCC">
    <img class="f-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEA_IUwv71aiPla5c97a6TDrO64uybfcrDUQ&usqp=CAU">
  
  
  </div>