<div class="container">
    <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ31h5lo2xGaSGE1-5htO9U5AOtId0bl37HeSj5wFPS8U1XCrt8Zi1Zcayt-emPdBwyEnc&usqp=CAU">
  
    <div class="abt-main"><h1>About Us</h1>
        <p>The Entrepreneurship Network (TEN) is a community-based Edu-Tech group whose objective is to provide quality learning and expertise.
            Our current customer segment, at present, stands at 200 plus colleges and 10000 plus students, with new institutions coming in all the time.
            This organization would enable you to accelerate your aspirations by providing an opportunity to master the most desired skill-sets in today's market.
            With hands-on guidance provided by our richly experienced faculty, you would be having  the best possible training at your disposal.</p>
</div>
</div>