

    <div class="topnav">
        <nav>
          <a routerLink="/">Homepage</a>
    
          <a routerLink="/courses">Courses</a>
          <a routerLink="/hiring">We're Hiring</a>

          <a routerLink="/blog">Blog</a>
          <a routerLink="/certification">Certification</a>
          <a routerLink="/alumni">Alumni Team</a>
          <a routerLink="/forum">Forum</a>
          <a routerLink="/hackathon">Hackathon</a>
          <a routerLink="/testimonials">Testimonials</a>
          <a routerLink="/social">Social Media</a>

          <a routerLink="/contact">Contact Us</a>
          <a routerLink="/complaints">Complaints</a>
         

   
        </nav>
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>

      </div>

      

      <router-outlet></router-outlet>   
      <div class="footer">
        <p>© 2020 Limitless Technologies - The Entrepreneurship Network</p>
    </div>
  
    
    
